.color-form {
  background-color: rgba(110, 110, 110, 0.089);
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.color-lable {
  text-align: center;
}

.color-input {
  background-color: rgb(219, 208, 183);
  color: rgb(90, 83, 83);
}

.color-form button {
  background-color: rgb(131, 150, 150);
}
.color-form button:hover {
  background-color: rgb(128, 179, 179);
}
